{% load unicorn %}

<div class="h-full flex items-center justify-center">
    <div class="w-full max-w-xl">
        <p class="text-2xl md:text-3xl lg:text-4xl font-bold my-10 text-center">Daftar Pada <span class="text-[#4787FA]">Aplikasi</span></p>
        
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            {% unicorn 'input-field' label="Nama Lengkap" type="text" name="username" placeholder="Masukkan Nama Lengkap" %}
            {% unicorn 'input-field' label="Email" type="email" name="email" placeholder="Masukkan Email" %}
            {% unicorn 'input-field' label="Password" type="password" name="password" placeholder="Masukkan Password" %}
            {% unicorn 'input-field' label="Konfirmasi Password" type="password_confirmation" name="password" placeholder="Masukkan Password Sekali Lagi" %}
            {% unicorn 'searchable-dropdown' label="Institusi" name="institution" placeholder="Pilih Institusi" %}
            <button type="submit"
                class="mt-4 w-full text-white bg-[#4787FA] hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-xl text-base md:text-xl px-5 py-4 text-center">
                Daftar
            </button>

            <p class="text-center text-gray-800 mb-6">
                Sudah memiliki akun? 
                <a href="/login" class="text-[#4787FA] hover:underline">
                    Masuk Disini
                </a>
            </p>
        </form>
    </div>
</div>