{% load unicorn %}

<div class="h-full flex items-center justify-center">
    <div class="w-full max-w-xl">
        <p class="text-4xl font-bold my-10 text-center">Reset <span class="text-[#4787FA]">Password</span></p>
        
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            {% unicorn 'input-field' label="Password Baru" type="password" name="password" placeholder="Masukkan Password" %}
            {% unicorn 'input-field' label="Konfirmasi Password" type="password" name="password_confirmation" placeholder="Masukkan Password Sekali Lagi" %}

            <button type="submit"
                class="mt-2 w-full text-white bg-[#4787FA] hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-xl text-xl px-5 py-4 text-center">
                Reset Password
            </button>
        </form>
    </div>
</div>