{% load unicorn %}

<div class="h-full flex items-center justify-center">
    <div class="w-full max-w-xl">
        <p class="text-4xl font-bold my-10 text-center">Email <span class="text-[#4787FA]">Verifikasi</span></p>
        
        <form method="POST" class="space-y-6">
            {% csrf_token %}
            
            {% unicorn 'input-field' label="Email" type="email" name="verification_email" placeholder="Masukkan Email" %}

            <button type="submit"
                class="mt-2 w-full text-white bg-[#4787FA] hover:bg-blue-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-xl text-xl px-5 py-4 text-center">
                Verifikasi
            </button>
        </form>
    </div>
</div>