# === Web & Django Framework ===
Django
gunicorn
uvicorn
whitenoise
python-dotenv
asgiref

# === Django Apps & Extensions ===
django-unicorn
django-neomodel
django-browser-reload
django-extensions

# === Machine Learning ===
# === Database & Data Processing ===
neomodel
neo4j
numpy
rdflib

# For CPU-only
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# For CUDA-enabled systems (jika punya GPU NVIDIA)
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.1.0+cu118
# torchvision==0.16.0+cu118
# torchaudio==2.1.0+cu118