Django
SemanticScholar
python-dotenv
neomodel
neo4j
spacy
rdflib
django-unicorn
django-neomodel
django-browser-reload
neo4j-graphrag[sentence-transformers]
django-extensions
gunicorn
whitenoise
numpy

# For CPU-only
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.1.0+cpu
# torchvision==0.16.0+cpu
# torchaudio==2.1.0+cpu

# For CUDA-enabled systems (jika punya GPU NVIDIA)
# --find-links https://download.pytorch.org/whl/torch_stable.html
# torch==2.1.0+cu118
# torchvision==0.16.0+cu118
# torchaudio==2.1.0+cu118