{% load unicorn %}

<p class="text-2xl md:text-3xl lg:text-4xl font-semibold pb-6">Berdasarkan <span class="text-[#4787FA]">Institusi Sejawat</span></p>
{% unicorn "info-alert" title_alert='Informasi' content_alert='Rekomendasi diberikan berdasarkan karya ilmiah yang <span class="text-[#4787FA] font-bold">paling banyak diakses</span> oleh <span class="text-[#4787FA] font-bold">pengguna</span> dari <span class="text-[#4787FA] font-bold">institusi</span> Anda, namun <span class="text-[#4787FA] font-bold">belum Anda baca</span>.' %}

<div class="mt-4">
    {% unicorn 'peer-institution' %}
</div>