{% load unicorn %}
{% load custom_filters %}

<div class="p-6 bg-white rounded-xl">
    <div class="mb-3 text-sm md:text-base flex flex-wrap items-center gap-1">
        <span>Karena Anda telah membaca karya ilmiah dengan topik</span>
        <span class="relative">
            <a @click="$dispatch('toggle-topic-info', { topic: '{{ topic }}' })"
               class="text-[#4787FA] inline-flex items-center font-semibold hover:cursor-pointer gap-1"> 
                {{ topic }} 
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 15H13V17H11V15ZM11 7H13V13H11V7ZM11.99 2C6.47 2 2 6.48 2 12C2 17.52 6.47 22 11.99 22C17.52 22 22 17.52 22 12C22 6.48 17.52 2 11.99 2ZM12 20C7.58 20 4 16.42 4 12C4 7.58 7.58 4 12 4C16.42 4 20 7.58 20 12C20 16.42 16.42 20 12 20Z" fill="#2196F3"/>
                </svg>
            </a>

            {% with topic_papers_list=topic_papers|get_item:topic %}
                {% unicorn "topic-paper-popup" topic=topic topic_papers=topic_papers_list %}
            {% endwith %}
        </span>
        <span>, berikut rekomendasi untuk Anda.</span>
    </div>


    <div class="h-[600px] overflow-y-auto pr-2 scroll-smooth" 
            @scroll="showIndicator = $el.scrollTop < ($el.scrollHeight - $el.clientHeight - 50)">
            <div class="grid gap-6
                [&_.bg-color]:bg-gray-50
                [&_.bg-color-author]:bg-gray-100
                [&_.paper-title]:text-base lg:[&_.paper-title]:text-[25px]
                [&_.paper-authors]:text-sm md:[&_.paper-authors]:text-base
                [&_.paper-date]:text-sm md:[&_.paper-date]:text-base
                [&_.paper-abstract]:text-sm md:[&_.paper-abstract]:text-base
          ">
            {% for paper in papers %}
                {% unicorn "paper-item" title=paper.title authors=paper.authors date=paper.date abstract=paper.abstract current_path=request.path %}
            {% empty %}
                <p class="text-center text-gray-500 text-xl mt-3">Tidak ada hasil ditemukan.</p>
            {% endfor %}
        </div>
    </div>

</div>