{% load unicorn %}
<div>
    {% if error %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded-lg" role="alert">
            <strong class="font-bold">Terjadi Kesalahan!</strong>
            <span class="block sm:inline">{{ error }}</span>
        </div>
    {% elif papers %}
        <div class="grid gap-6
            [&_.bg-color]:bg-white
            [&_.bg-color-author]:bg-gray-100
            [&_.paper-title]:text-base lg:[&_.paper-title]:text-[25px]
            [&_.paper-authors]:text-sm md:[&_.paper-authors]:text-base
            [&_.paper-date]:text-sm md:[&_.paper-date]:text-base
            [&_.paper-abstract]:text-sm md:[&_.paper-abstract]:text-base
        ">
            {% for paper in papers %}
                {% unicorn "paper-item" paper_id=paper.paperId title=paper.title authors=paper.authors date=paper.date abstract=paper.abstract year=paper.year key=paper.paperId %}
            {% endfor %}
        </div>
        {% if pagination_data and pagination_data.num_pages > 1 %}
            {% unicorn 'pagination' paginator=pagination_data key=pagination_data.number %}
        {% endif %}
    {% else %}
        <p class="text-center text-gray-500 text-xl mt-3">Tidak ada rekomendasi yang dapat ditampilkan saat ini.</p>
    {% endif %}
</div>