{% load static %}
{% load unicorn %}
<!DOCTYPE html>
<html lang="en"
      x-data="{ dark: JSON.parse(localStorage.getItem('dark') || 'false') }"
      x-init="$watch('dark', val => { document.documentElement.classList.toggle('dark', val); localStorage.setItem('dark', val) })"
      :class="{ 'dark': dark }">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}TemuPaper - Temukan Paper mu disini{% endblock %}</title>
    <style>
        [x-cloak] { display: none !important; }
    </style>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    {% unicorn_scripts %}
    <!-- <link rel="stylesheet" href="{% static 'css/output.css' %}"> -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{{ body_class|default:'bg-[#f9f8f9]' }} min-h-screen items-center justify-center font-inter">

    {% csrf_token %}
    {% unicorn 'navbar' %}

    <main class="container mx-auto px-6 py-10 md:px-10 lg:px-16">
        <div id="content">
            {% if content_template %}
                {% include content_template %}
            {% else %}
                {% block content %}{% endblock %}
            {% endif %}
        </div>
    </main>
    <script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.14.9/cdn.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</body>
</html>